header {
    background-color: gold;
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
    font-size: 24px;
}

body {
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

label {
    color: black;
    
}

label span {
    display: inline-block;
    text-align: center;
    width: 100%;
}

p {
  color: #fff;
}

.lien a {
    color: #fff;
    font-size: 20px;
}

.inscription p, .connexion p {
    color: black;
}

.voir-plus {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 150px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.nouvelle-recherche {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.result-item {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-result-image {
    height: 300px;
    width: auto;
    object-fit: cover;
}

