header {
    background-color: gold;
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
    font-size: 24px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin-top: 50px;
}

h4 {
    text-align: center;
    font-size: 25px;
    margin-right: 50px ;
    margin-left: 50px ;
    font-family: cursive;
    top: 0px;
}

a {
    text-decoration: none;
}

.image1 img {
    height: 500px;
    margin-top: 0px;
    margin-right: 30px;
}
.image2 img {
    height: 550px;
    margin-top: 0px;
    margin-left: 30px;
}

.container {
    display: flex;
    align-items: center;
}

.text {
    flex: 3;
    padding-right: 20px;
}


body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

label {
    color: black;
    
}

label span {
    display: inline-block;
    text-align: center;
    width: 100%;
}

p {
  color: black;
}

.lien a {
    color: black;
    font-size: 20px;
}

.inscription p, .connexion p {
    color: black;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.result-item {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
}

.result-item {
    border: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    padding: -100px;
    margin-right: 100px;
    margin-left: 100px;
}

.result-item h2 {
    margin-bottom: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
}


.result-item img {
    margin-bottom: auto;
    margin-bottom: auto;
    margin-bottom: 20px;
}

.details-box {
    border: 0px solid #ddd;
    padding-top: 20px;
    color:black;
}

.search-result-image {
    height: 300px;
    width: auto;
    object-fit: cover;
}
.previous-page,
.next-page {
    background-color: white;
    border: 1px solid white;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
}

.previous-page {
    float: left;
    margin-left: 20px;
}

.next-page {
    float: right;
    margin-right: 20px;
    margin-bottom: 25px;
}

.small-search {
    position: absolute;
    top: 150px;
    right: 20px;
    z-index: 1000;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px ;
    padding-left: 10px ;
}

.small-search input[type="text"] {
    width: 100px;
    font-size: 12px;
}

.small-search input[type="submit"] {
    padding: 5px 10px;
    width: 120px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-more {
    cursor: pointer;
    color: blue;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-bottom: -70px;
}

.hidden {
    display: none;
}

.result-item-a {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.artwork-container {
    border: 3px solid black;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

.footer {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 20px;
  overflow: hidden;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.footer .menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

}

.footer a {
  color: white;
  text-decoration: none;
}

.bottom {
text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: 20px;
}

.search-form {
    margin-bottom: 297px;
}