header {
    background-color: gold;
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
    font-size: 24px;
}

body {
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

label {
    color: black;
    
}

label span {
    display: inline-block;
    text-align: center;
    width: 100%;
}

p {
  color: #fff;
}

.lien a {
    color: #fff;
    font-size: 20px;
}

.inscription p, .connexion p {
    color: black;
}

.voir-plus {
    display: block; /* Rend le bouton en tant qu'élément de bloc */
    margin: 0 auto; /* Centrage horizontal automatique */
    padding: 10px 20px; /* Ajustez le remplissage selon vos préférences */
    background-color: white; /* Couleur de fond du bouton */
    color: black; /* Couleur du texte du bouton */
    border: 2px solid white; /* Bordure blanche pour le bouton */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold; /* Rend le texte du bouton en gras */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    cursor: pointer; /* Change le curseur en main lors du survol */
}
.nouvelle-recherche {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ffffff; /* Fond blanc */
    color: #000000; /* Écriture noire */
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ffffff; /* Bordure blanche */
}
